<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flasknado!</title>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="/static/flasknado.js"></script>
  </head>
  <body>
    <h1>Flasknado!</h1>
    <div class="container">
      <p>Send a message:</p>
      <input id="message" type="text">
      <button id="submit" type="button" onclick="submit()">Submit</button>
      <p>Messages received:</p>
    </div>
  </body>
</html>
